version: "3.9"

services:
  postgres:
    container_name: postgres-db
    restart: unless-stopped

    environment:
      POSTGRES_USER: ayush
      POSTGRES_PASSWORD: secret123
      POSTGRES_DB: mydb

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ayush -d mydb"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
    driver: local
